
# -----------
# /wordpress/wp-content/plugins
/wordpress/wp-content/plugins/**/**.php
/wordpress/wp-content/plugins/**/**.html
/wordpress/wp-content/plugins/**/**.md
/wordpress/wp-content/plugins/**/**.txt
/wordpress/wp-content/plugins/**/**.scss
